* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px 5px;
  min-width: 300px;
}
input {
  width: 100%;
  margin: 10px 0px;
  border: solid 1px green;
  height: 25px;
  padding: 10px;
}
input:focus {
  outline: none;
  border: 1px solid gren;
}

button {
  outline: none;
  margin: 0 2.5px;
  background-color: green;
  border: none;
  padding: 5px;
  font-weight: bold;
  color: white;
}

#delete-btn {
  padding: 4px;
  background-color: white;
  border: 1px solid green;
  color: green;
}

ul {
  margin: 10px 10px;
  list-style: none;
}

a {
  color: green;
}
